<%= content_for :section, 'Simulator Administration' %>

<div class="container pt-2 pb-4">

  <div class="col-lg-12">
    <div class="card card-shadow">
      <div class="card-header d-flex">
        <div class="col-8">
          <h5>Edit Simulator</h5>
        </div>
        <div class="col-4 text-right">
          <%= link_to admin_simulator_path(@simulator), method: :delete, class: 'btn btn-sm btn-danger', 'data-confirm': "Are you sure?" do %>
            <i class="fas fa-trash"></i> Delete
          <% end %>
        </div>
      </div>

      <div class="card-body ">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
