<%= content_for :section, 'Simulator Administration' %>

<div class="container pt-2 pb-4">

  <div class="col-lg-12">
    <div class="card card-shadow">
      <div class="card-header">
        <h5>Add Simulator</h5>
      </div>

      <div class="card-body ">
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
