<section class="pt-3 pb-3 mb-3 bg-dark text-light">
  <div class="container">
    <h3>Login</h3>
  </div>
</section>

<div class="container pb-2">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card mt-sm-2" id="login-card">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <%= image_tag 'icons/headshot.png', width: '80%' %>
              <span class="row col-12 justify-content-center" id="login-crew">
                CREW
              </span>
            </div>

            <div class="col-8">
              <%= render partial: 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
