<% if pilot_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Operations
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <%= link_to 'File PIREP', new_pirep_path, class: "dropdown-item" %>
      <%= link_to 'Flight Schedule', flights_path, class: "dropdown-item" %>
      <%= link_to 'Logbook', pilot_logbook_path(current_pilot), class: "dropdown-item" %>
    </div>
  </li>
<% end %>
