<p>New contact request submitted</p>

<p>
  <ul>
    <li>From: <%= @contact.first_name %> <%= @contact.last_name %></li>
    <li>Email: <%= @contact.email %></li>
  </ul>
</p>

<h4>Message</h4>
<p>
  <%= @contact.message %>
</p>
