= content_for :section, 'Our Fleet'

.container.pb-4
  - @fleet.each do |aircraft_type|
    = render partial: 'aircraft', locals: { fleet: aircraft_type }

  .row.justify-content-center.mt-3
    = paginate @fleet, theme: 'twitter-bootstrap-4'
