// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home-box {
  .banner-img {
    height: 165px;
    width: 100%;
    object-fit: cover;
  }
}

#home-announcement {
  background: rgba(227, 227, 227, 0.92);
  bottom: 20px;
  display: block;
  position: absolute;
  right: 20px;
  max-width: 30vw;
  min-width: 15vw;
  z-index: 1000;

  //button {
  //  display: block;
  //  position: absolute;
  //  top: 10px;
  //  right: 15px;
  //}
}

#home-card {
  border-radius: 0px;
}

#home-discord {
  iframe {
    height: 500px;
    border: 0;
  }
}

#home-carousel {
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  img {
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
