// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#home-card {
  border-radius: 0px;
}

#home-carousel {
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  img {
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}
