#alert-container
  - flash.each do |key, value|
    -# Devise uses hackery with key :timedout to pass thread safe information
    -# we just need to dump the key so that users do not see a blank flash
    - next if key.to_s == 'timedout'

    .alert.mb-0.fade.show{class: "alert-#{key}", role: 'alert'}
      .container
        = value

        %button.close.mb-2{type: 'button', 'data-dismiss': 'alert', 'aria-label': 'Close'}
          %span{'aria-hidden': 'true'}
            &times;
