!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
      %style
        -# Email styles need to be inline

  %body
    = email_image_tag 'lonestar-logo-transparent.png'
    = yield
